div {
    font-size: 12px !important;
}

tr.error {
    background-color: indianred;
}

tr.inactive {
    text-decoration: line-through;
}

#yearly.table td:last-of-type,
#yearly.table tr:last-of-type td,
#noBuyTable.table tr:last-of-type td,
#budgetPlanTable.table tr:last-of-type td {
    background-color: #77e0be !important;
    font-weight: bold;
}

.szary {
    background-color: darkgrey;
}

table tr td.failed_goal {
    background-color: #ff7f7f;
}

table tr td.over_goal {
    background-color: #efa8a8;
}

.success_goal {
    background-color: #77e0be;
}

.triangle {
    position: relative;
}
.triangle:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-top-width: 10px;
    border-top-style: solid;
}

.success:after {
    border-top-color: #19ba20;
}
.fail:after {
    border-top-color: #f00;
}