div {
    font-size: 12px !important;
}

tr.error {
    background-color: indianred;
}

tr.inactive {
    text-decoration: line-through;
}

#yearly.table td:last-of-type,
#yearly.table tr:last-of-type {
    background-color: #77e0be !important;
    font-weight: bold;
}